# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 077d28d913e2d638b4ff102bdbd2f810f8c3eb6861617cb1c1b3a6b5258b9684c64dd462f31ba4a9b520f829c2a8b946bd4460a95ec2e310b6eae3eed5c53cdb
  action_mailer:
    delivery_method: :smtp
    smtp_settings:
      user_name: 'username'
      password: 'password'
      address: 'mailtrap.io'
      domain: 'mailtrap.io'
      port: '2525'
      authentication: :cram_md5

test:
  secret_key_base: 00dc11a16bd19e70f9aee2d7951f8545cbe28ca463c3cfda73a6074811b80db3738e469d92e441d39d0048189f66eac3fd0ca19cbbe8863846bc7c2c8eeff3f5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
